<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Candidate Assessment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>HR.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRadd</display-name>
    <servlet-name>HRadd</servlet-name>
    <servlet-class>HR.HRadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRadd</servlet-name>
    <url-pattern>/HRadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRlogin</display-name>
    <servlet-name>HRlogin</servlet-name>
    <servlet-class>HR.HRlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRlogin</servlet-name>
    <url-pattern>/HRlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>HR.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ACandidate</display-name>
    <servlet-name>ACandidate</servlet-name>
    <servlet-class>HR.ACandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ACandidate</servlet-name>
    <url-pattern>/ACandidate</url-pattern>
  </servlet-mapping>
</web-app>